body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-container {
  display: flex;
  flex-direction: column; /* Para que el texto quede debajo de la imagen */
  justify-content: center; /* Centra la imagen y el texto horizontalmente */
  align-items: center; /* Centra la imagen y el texto verticalmente */
  width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
}

.image-container img {
  max-width: 100%; /* La imagen tomará el ancho máximo disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  cursor: pointer; /* Cambia el cursor cuando se pasa por encima de la imagen */
}

.image-container h1 {
  text-align: center; /* Centra el texto */
  font-size: 2rem; /* Ajusta el tamaño del texto */
}
